<!DOCTYPE html>
<!-- saved from url=(0045)http://bootstrapsale.com/projects/roost/v1-1/ -->
<html lang="en"><!--[if IE 9 ]><html lang="en" class="ie9"><![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Roost - Material Design Real Estate</title>

        <!-- Vendors -->

        <!-- Material design colors -->
        <link href="./Roost-bk/material-design-iconic-font.min.css" rel="stylesheet">

        <!-- CSS animations -->
        <link rel="stylesheet" href="./Roost-bk/animate.min.css">

        <link rel="stylesheet" href="./Roost-bk/font-awesome-4.7.0/css/font-awesome.min.css">

        <!-- Select2 - Custom Selects -->
        <link rel="stylesheet" href="./Roost-bk/select2.min.css">

        <!-- Slick Carousel -->
        <link rel="stylesheet" href="./Roost-bk/slick.css">

        <!-- NoUiSlider - Input Slider -->
        <link rel="stylesheet" href="./Roost-bk/nouislider.min.css">

        <!-- Site -->
        <link rel="stylesheet" href="./Roost-bk/app_1.min.css">
        <link rel="stylesheet" href="./Roost-bk/app_2.min.css">

        <!-- Page Loader JS -->
        <script src="./Roost-bk/page-loader.min.js.download" async=""></script>
        <script src="./Roost-bk/google_analytics_auto.js.download"></script>
        <script type="text/javascript">
            function validate(){
                debugger
           
            var obj ={'username': $("#top-nav-login #username").val(), 'password': $("#top-nav-login #password").val()}

            $.ajax({
                url: "/login",
                type: "POST",
                dataType: "json",
                data: obj,
                success: function (data) {
                    alert("I am cool!!!!");
                }
            });

        }

        </script>
    </head>

    <body>

        <!-- Header Template -->
        <% include ./header %>
        <!-- Start page loader -->
        <div id="page-loader" style="opacity: 0.0984771; display: none;">
            <div class="page-loader__spinner"></div>
        </div>
        <!-- End page loader -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card__header card__header--minimal">
                                <h2>Recent Properties for Sale</h2>
                                <small>Nunc urnami tempor eget ipsum eurutrum gravida tellus</small>
                            </div>

                            <div class="grid-widget grid-widget--listings">
                                
                                
                                
                                
                            <div class="col-xs-6" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide10">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/listing-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/9.jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h3>$3,452,000</h3>
                                            <small>4313 Beverly Hills, CA 90210</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-6" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide11">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/listing-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/10.jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h3>$990,000</h3>
                                            <small>San Francisco, CA 937202</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-6" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide12">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/listing-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/11.jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h3>1,500,000</h3>
                                            <small>21 Shop St, San Francisco</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-6" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide13">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/listing-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/12.jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h3>$1,650,690</h3>
                                            <small>13 Beverly Hills, CA 01210</small>
                                        </div>
                                    </a>
                                </div></div>

                            <a class="view-more" href="http://bootstrapsale.com/projects/roost/v1-1/grid-listings.html">
                                View all properties for sale <i class="zmdi zmdi-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card__header card__header--minimal">
                                <h2>Recent Properties for Rent</h2>
                                <small>Suspendisse quis massa fringilla sagittis velit utultrices tellus</small>
                            </div>

                            <div class="grid-widget grid-widget--listings">
                                
                                
                                
                                
                            <div class="col-xs-6" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide20">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/listing-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/13.jpg" class="img-responsive" alt="">
                                        <div class="grid-widget__info">
                                            <h3>$1,810,000</h3>
                                            <small>4313 Beverly Hills, CA 90210</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-6" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide21">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/listing-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/14.jpg" alt="">
                                        <div class="grid-widget__info">
                                            <h3>$1,782,890</h3>
                                            <small>700 Folcon St, San Fransisco, CA</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-6" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide22">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/listing-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/15.jpg" alt="">
                                        <div class="grid-widget__info">
                                            <h3>$823,000</h3>
                                            <small>1100 Sea avn, San Fransisco, CA</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-6" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide23">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/listing-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/16.jpg" alt="">
                                        <div class="grid-widget__info">
                                            <h3>$2,543,000</h3>
                                            <small>132 04th St, San Francisco</small>
                                        </div>
                                    </a>
                                </div></div>

                            <a class="view-more" href="http://bootstrapsale.com/projects/roost/v1-1/grid-listings.html">
                                View all properties for rent <i class="zmdi zmdi-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card__header card__header--minimal">
                                <h2>Properties by top locations</h2>
                                <small>Pellentesque habitant morbi tristique senectus et netus et malesuada</small>
                            </div>

                            <div class="grid-widget grid-widget--listings">
                                
                            <div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide30">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/" tabindex="-1">
                                        <img src="./Roost-bk/san_fransisco.jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>San Francisco, CA</h4>
                                            <small>1560 Listings</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide31">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/" tabindex="-1">
                                        <img src="./Roost-bk/san_jose.jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>San Jose, CA</h4>
                                            <small>1232 Listings</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide32">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/" tabindex="-1">
                                        <img src="./Roost-bk/denver.jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>Denver, CO</h4>
                                            <small>1103 Listings</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide33">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/" tabindex="-1">
                                        <img src="./Roost-bk/san_diego.jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>San Diego, CA</h4>
                                            <small>1100 Listings</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide34">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/" tabindex="-1">
                                        <img src="./Roost-bk/dallas.jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>Dallas, TX</h4>
                                            <small>988 Listings</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide35">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/" tabindex="-1">
                                        <img src="./Roost-bk/detroit.jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>Dallas, TX</h4>
                                            <small>921 Listings</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide36">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/" tabindex="-1">
                                        <img src="./Roost-bk/los_angeles.jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>Los Angeles, CA</h4>
                                            <small>888 Listings</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide37">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/" tabindex="-1">
                                        <img src="./Roost-bk/nashville.jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>Nashville, TN</h4>
                                            <small>743 Listings</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide38">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/" tabindex="-1">
                                        <img src="./Roost-bk/palm_bay.jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>Palm Bay, FL</h4>
                                            <small>655 Listings</small>
                                        </div>
                                    </a>
                                </div></div>

                            <a class="view-more" href="http://bootstrapsale.com/projects/roost/v1-1/grid-listings.html">
                                View all locations <i class="zmdi zmdi-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card__header card__header--minimal">
                                <h2>Properties by Agents</h2>
                                <small>Duis congue placerat libero in tristique dignissim posuere</small>
                            </div>

                            <div class="grid-widget grid-widget--listings">
                                
                            <div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide40">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/agent-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/1(1).jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>David Willson</h4>
                                            <small>154 Listings</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide41">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/agent-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/2(1).jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>Mallinda Hollaway</h4>
                                            <small>143 Listings</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide42">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/agent-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/3(1).jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>Priscilla Erickson</h4>
                                            <small>121 Listings</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide43">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/agent-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/4(1).jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>Randolph Barnett</h4>
                                            <small>112 Listings</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide44">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/agent-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/5(1).jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>Bradford Watson</h4>
                                            <small>98 Listings</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide45">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/agent-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/6(1).jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>Mauris congue ex quis est dictum iaculis</h4>
                                            <small>83 Listings</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide46">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/agent-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/7(1).jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>Mauris congue ex quis est dictum iaculis</h4>
                                            <small>80 Listings</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide47">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/agent-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/8(1).jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>Mauris congue ex quis est dictum iaculis</h4>
                                            <small>62 Listings</small>
                                        </div>
                                    </a>
                                </div><div class="col-xs-4" style="" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide48">
                                    <a class="grid-widget__item" href="http://bootstrapsale.com/projects/roost/v1-1/agent-detail.html" tabindex="-1">
                                        <img src="./Roost-bk/9(1).jpg" alt="">

                                        <div class="grid-widget__info">
                                            <h4>Mauris congue ex quis est dictum iaculis</h4>
                                            <small>59 Listings</small>
                                        </div>
                                    </a>
                                </div></div>

                            <a class="view-more" href="http://bootstrapsale.com/projects/roost/v1-1/agents.html">
                                View all agents <i class="zmdi zmdi-long-arrow-right"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <% include ./footer %>

        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1>Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="ie-warning__inner">
                    <ul class="ie-warning__download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
        <![endif]-->

        <!-- Javascript -->

        <!-- jQuery -->
        <script src="./Roost-bk/jquery.min.js.download"></script>

        <!-- Bootstrap -->
        <script src="./Roost-bk/bootstrap.min.js.download"></script>

        <!-- Waves button ripple effects -->
        <script src="./Roost-bk/waves.min.js.download"></script>

        <!-- Select 2 - Custom Selects -->
        <script src="./Roost-bk/select2.full.min.js.download"></script>

        <!-- Slick Carousel - Custom Alerts -->
        <script src="./Roost-bk/slick.min.js.download"></script>

        <!-- NoUiSlider -->
        <script src="./Roost-bk/nouislider.min.js.download"></script>

        <!-- IE9 Placeholder -->
        <!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->

        <!-- Site functions and actions -->
        <script src="./Roost-bk/app.min.js.download"></script>

        <!-- Demo only -->
        <script src="./Roost-bk/demo.js.download"></script>
    
</body></html>